cmd:
  - -batchmode
  - -nographics
  - -logFile
  - -port
  - ${port.server}
  - -query
  - ${port.query}

script:
  initialState: idle
  states:
    idle:
      events:
        - type: literal
          value: GAME_EYE_STATE_CHANGE_TO_CONFIG
          ignoreCase: true
          nextState: config
        - type: timer
          interval: 120000 # 1000 * 60 * 2 = 2 minutes
          nextState: end
    config:
      events:
        - type: literal
          value: GAME_EYE_STATE_CHANGE_TO_READY
          ignoreCase: true
          nextState: ready
        - type: literal
          value: GAME_EYE_STATE_CHANGE_TO_END
          ignoreCase: true
          nextState: end
        - type: timer
          interval: 120000 # 1000 * 60 * 2 = 2 minutes
          nextState: end
    ready:
      events:
        - type: literal
          value: GAME_EYE_STATE_CHANGE_TO_PLAY
          ignoreCase: true
          nextState: playing
        - type: literal
          value: GAME_EYE_STATE_CHANGE_TO_END
          ignoreCase: true
          nextState: end
        - type: timer
          interval: 900000 # 1000 * 60 * 15 = 15 minutes
          nextState: end
    playing:
      events:
        - type: literal
          value: GAME_EYE_STATE_CHANGE_TO_END
          ignoreCase: true
          nextState: end
    end:
      events:
        - type: timer
          interval: 60000 # 60 seconds
          nextState: quit
  transitions:
    - to: idle
      command: |
        echo "[IG] Change to Idle state"
    - to: config
      command: |
        echo "[IG] Change to Config state"
    - to: ready
      command: |
        echo "[IG] Change to Ready state"
    - to: playing
      command: |
        echo "[IG] Change to Playing state"
    - to: end
      command: |
        echo "[IG] Change to End state"
    - to: quit
      command: |
        echo "[IG] Change to Quit state"

defaults:
  port.server: "60001"
  port.query: "21777"
  port.masterServer1: "5055"
  port.masterServer2: "27001"
  port.gameServer1: "5056"
  port.gameServer2: "27002"
  port.nameServer1: "5058"
  port.nameServer2: "27000"
